.di
{
    /*border: red solid 1px;*/
    width:400px;
    height:400px;
    /*background-image: url("1.png");*/
    /*background-size: 100% auto;*/
    /*background-repeat: no-repeat;*/
    position: absolute;
    left: 30%;
    top: 30%;
    transform-style: preserve-3d;
    transform:rotateY(-15deg) rotateX(45deg);
     /*!*scale(0.5,0.5)*! perspective(800px)*/
    background-color: rgba(255,69,0,0);
    border-radius: 50%;


}
