#test_0
{
    /*border: red solid 1px;*/
    width: 500px;
    height: 500px;
    background-color: rgba(255,0,0,1);
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(45deg);
    position: absolute;
}

#test_1
{
    /*border: red solid 1px;*/
    width: 500px;
    height: 500px;
    background-color: rgba(9, 9, 10, 0.96);
    transform: rotate(0deg) rotateX(10deg) rotateY(0deg) translateZ(0px) translate(0px);
position: absolute;
}

#test_2
{
    /*border: red solid 1px;*/
    width: 500px;
    height: 500px;
    background-color: rgba(67, 255, 61, 0.96);
    margin: 0 auto;
    transform: rotate(30deg) rotateX(0deg) rotateY(0deg) translateZ(0px) translateY(0px) perspective(2000px);
position: absolute;
}























